@using kundt_back_end.Models;
@model MitarbeiterContainerModel

@{
    ViewBag.Title = "Übersicht Mitarbeiter";

}

<style>
    table tr td a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
    }

        table tr td a:hover {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

    .row > .col-lg-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0px;
    }

    /*thead,*/ tbody, tr /*, td, th*/ {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    thead th {
        height: 30px;
    }

    tbody {
        height: 330px;
        overflow-y: auto;
    }

        tbody td, thead th {
            width: auto;
            float: left;
        }

    .SuchFilter_abstand {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .buttonOrangeSuchen {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeSuchen span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeSuchen span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeSuchen:hover span {
            padding-right: 15px;
        }

            .buttonOrangeSuchen:hover span:after {
                opacity: 1;
                right: 0;
            }

        .buttonOrangeSuchen:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    /*.buttonOrangeSuchen {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 221.5px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
        margin-top: 50px;
    }

        .buttonOrangeSuchen:hover {
            background-color: #f99b1c;
            border: none;
            color: black;
            font-size: 15px;
            height: 50px;
            width: 221.5px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
            display: inline-block;
            border-radius: 4px;
            margin-top: 50px;
        }*/

    .buttonOrangeEdit {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 40px;
        width: 100px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeEdit:hover {
            background-color: #f99b1c;
            border: none;
            color: black;
            font-size: 15px;
            height: 40px;
            width: 100px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
            display: inline-block;
            border-radius: 4px;
        }

    .headingFormat {
        margin: auto auto 20px auto;
        color: white;
        background-color: #f99b1c;
        vertical-align: middle;
        padding: 0px;
        border-radius: 4px;
        box-shadow: lightgray 1px 1px 0px;
        text-align: center;
    }

    /*.drehMich{
            animation-name:itsOver;
            animation-iteration-count:infinite;
            animation-duration:1s;
        }
        .drehMich2{
            animation-name:itsOver;
            animation-iteration-count:infinite;
            animation-duration:15s;
            animation-direction:reverse;
        }
        @@keyframes itsOver{
            0%{
                background-color:lawngreen;
                transform:rotate(0deg);
                min-height:0px;
                max-height:0px;

            }
            50%{
                min-height:700px;
                max-height:700px;
                border-radius:700px;
            }
            100%{
                transform:rotate(3600deg);
                background-color:red;
                 min-height:0px;
                max-height:0px;
            }
        }*/
</style>
<script>
    function FilterReset() {
        document.getElementById("MaId").value = '';
        document.getElementById("Nachname").value = '';
        document.getElementById("Vorname").value = '';
        document.getElementById("Anrede").value = '';
        document.getElementById("suchMaskeMA").submit;
    }
</script>

<div class="headingFormat">
    <h2 style="padding:5px;">Mitarbeiter Übersicht</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="row" style="margin:0px 10px 10px 10px;padding:10px;height:400px;">
                <form id="suchMaskeMA" method="post" action="@Url.Action("Index","Mitarbeiter")">
                    <center><h3>Suchen nach</h3></center>
                    <input type="text" value="@if (@Model.mafilter != null){ @Model.mafilter.MaId }" placeholder="MA Id" id="MaId" name="MaId" class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" value="@if (@Model.mafilter != null){ @Model.mafilter.Anrede }" placeholder="Geschlecht" id="Anrede" name="Anrede" class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" value="@if (@Model.mafilter != null){ @Model.mafilter.Vorname }" placeholder="Vorname" id="Vorname" name="Vorname" class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" value="@if (@Model.mafilter != null) { @Model.mafilter.Nachname}" placeholder="Nachname" id="Nachname" name="Nachname" class="col-lg-12 SuchFilter_abstand" />
                    <button value="Suche Reset" onclick="FilterReset()" name="reset" class="col-lg-12 SuchFilter_abstand"><span>Filter Reset</span></button>
                    <div class="col-lg-12">
                        <button class="SuchFilter_abstand buttonOrangeSuchen" type="submit" value="Suchen"><span>Suchen</span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row table-responsive" style="margin:10px;padding:10px;height:400px;">
                <table class="table">
                    <thead>
                        <tr style="margin-right:16px;">
                            <th style="width:10%;">MA Id</th>
                            <th style="width:15%;">Vorname</th>
                            <th style="width:15%;">Nachname</th>
                            <th style="width:15%;">Geschlecht</th>
                            <th style="width:30%;">E-Mail</th>
                            <th style="width:15%;">Bearbeiten</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.malist)
                        {
                            <tr>
                                <td style="width:10%;"><a href="@Url.Action("Edit", "Mitarbeiter", new { ID = item.IDMitarbeiter })">@Html.DisplayFor(modelItem => item.IDMitarbeiter)</a></td>
                                <td style="width:15%;"><a href="@Url.Action("Edit", "Mitarbeiter", new { ID = item.IDMitarbeiter })">@Html.DisplayFor(modelItem => item.MAVorname)</a></td>
                                <td style="width:15%;"><a href="@Url.Action("Edit", "Mitarbeiter", new { ID = item.IDMitarbeiter })">@Html.DisplayFor(modelItem => item.MANachname)</a></td>
                                <td style="width:15%;"><a href="@Url.Action("Edit", "Mitarbeiter", new { ID = item.IDMitarbeiter })">@if (item.MAAnrede == "Herr")
                                {<span>M</span>}
                                else
                                {<span>W</span>}</a></td>
                                <td style="width:30%;"><a href="@Url.Action("Edit", "Mitarbeiter", new { ID = item.IDMitarbeiter })">@Html.DisplayFor(modelItem => item.Email)</a></td>
                                <td style="width:15%;"><a href="@Url.Action("Edit", "Mitarbeiter", new { ID = item.IDMitarbeiter })"><input type="button" class="btn buttonOrangeEdit" value="Bearbeiten" /></a></td>
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>
        </div>
    </div>
</div>