@model IEnumerable<kundt_back_end.Models.tblMitarbeiter>

@{
    ViewBag.Title = "Übersicht Mitarbeiter";

}

<h2>Mitarbeiter Übersicht</h2>

<div class="container" style="border:3px solid black;">
    <div class="row">
        <div class="col-lg-3">
            <div class="row" style="margin:10px;padding:10px;border:1px solid black;">
                <center><h3>Suchen</h3></center>
                <input type="text" placeholder="MA-Nr." class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Anrede" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Vorname" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Nachname" class="col-lg-12 SuchFilter_abstand" />
                <input class="col-lg-6 col-lg-offset-3 SuchFilter_abstand" type="submit" value="Suchen" />
            </div>
            @Html.ActionLink("Neuen Mitarbeiter Anlegen", "Create")
        </div>
        <div class="col-lg-9">
            <div class="row table-responsive" style="margin:10px;padding:10px;height:400px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-lg-1">
                                @Html.DisplayNameFor(model => model.IDMitarbeiter).
                            </th>
                            <th class="col-lg-1">
                                @Html.DisplayNameFor(model => model.MAVorname)
                            </th>
                            <th class="col-lg-2">
                                @Html.DisplayNameFor(model => model.MANachname)
                            </th>
                            <th class="col-lg-2" style="position: relative; left: -10px;">
                                @Html.DisplayNameFor(model => model.MAAnrede)
                            </th>
                            <th class="col-lg-3" style="position: relative; left: -10px;">@Html.DisplayNameFor(model => model.tblLogin.Email)</th>
                            <th class="col-lg-1">Bearbeiten</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-lg-1">
                                    @Html.DisplayFor(modelItem => item.IDMitarbeiter)
                                </td>
                                <td class="col-lg-1">
                                    @Html.DisplayFor(modelItem => item.MAVorname)
                                </td>
                                <td class="col-lg-3">
                                    @Html.DisplayFor(modelItem => item.MANachname)
                                </td>
                                <td class="col-lg-3">
                                    @Html.DisplayFor(modelItem => item.MAAnrede)
                                </td>
                                <td class="col-lg-2">
                                    @Html.DisplayFor(modelItem => item.tblLogin.Email)
                                </td>
                                <td>
                                    <center>
                                        <button>
                                            @Html.ActionLink("Bearbeiten", "Edit", new { id = item.IDMitarbeiter })
                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.IDMitarbeiter })*@
                                        </button>
                                    </center>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>