@using kundt_back_end.Models
@model IEnumerable<kundt_back_end.Models.tblKunde>


@{
    ViewBag.Title = "Übersicht Kunden";
}
<style>
    .CenteredButton {
        display: block;
        margin: auto;
    }

    .SuchFilter_abstand {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0px;
    }

    tbody, tr /*, td,th, thead*/ {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    thead th {
        height: 30px;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
    }

        tbody td, thead th {
            width: auto;
            float: left;
        }
</style>


<div class="container" style="border:2px solid black;">
    <div class="row">
        <div class="col-lg-3">
            <div class="row" style="margin:10px;padding:10px;height:400px;">
                <center><h3>Suchen</h3></center>
                <input type="text" placeholder="Name" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Kunden-Nr." class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Ort" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="PLZ" class="col-lg-12 SuchFilter_abstand" />
                <center><label class="SuchFilter_abstand">Offene Buchung</label></center>
                <center><input type="checkbox" class="SuchFilter_abstand" /></center>
                <input class="col-lg-6 col-lg-offset-3 SuchFilter_abstand" type="submit" value="Suchen" />
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row table-responsive" style="height: 500px;">
                <table class="table">
                    <thead>
                        <tr style="margin-right: 16px;">
                            <th style="width: 20%;">@Html.DisplayNameFor(model => model.IDKunde)</th>
                            <th style="width: 40%;">Vorname</th>
                            <th style="width: 40%;">Nachname</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 20%;"><a href="@Url.Action("KundenDetail", "Home", new {ID = item.IDKunde})">@Html.DisplayFor(x => item.IDKunde)</a></td>
                                <td style="width: 40%;"><a href="@Url.Action("KundenDetail", "Home", new {ID = item.IDKunde})">@Html.DisplayFor(x => item.Vorname) @Html.DisplayFor(x => item.Vorname)</a></td>
                                <td style="width: 40%;"><a href="@Url.Action("KundenDetail", "Home", new {ID = item.IDKunde})">@Html.DisplayFor(x => item.Nachname) @Html.DisplayFor(x => item.Nachname)</a></td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>

            @*Diese variante vorerst nicht verwendet, da ich(endl) zwecks einheitlichkeit variante von (schieder) übernehme*@
            @*<div class="row table-responsive" style="margin:10px;padding:10px;height:400px;">
                <table class="table">
                    <thead>
                        <tr style="margin-right:16px;">
                            <th style="width:10%;">KundenNr.</th>
                            <th style="width:20%;">Vorname</th>
                            <th style="width:20%;">Nachname</th>
                            <th style="width:20%;">Status</th>
                            <th style="width:30%;">Details/Bearbeiten</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:10%">@Html.DisplayFor(x => item.tblKunde.IDKunde)</td>
                                <td style="width:20%;">@Html.DisplayFor(x => item.tblKunde.Vorname)</td>
                                <td style="width:20%;">@Html.DisplayFor(x => item.tblKunde.Nachname)</td>
                                <td style="width:20%;">@Html.DisplayFor(x => item.BuchungStatus)</td>
                                <td style="width:30%;"><input type="button" value="Details" onclick="location.href='@Url.Action("KundenDetail", "Home")'" /><input type="button" value="Bearbeits" onclick="location.href='@Url.Action("KundenBearbeiten", "Home")'" /></td>

                            </tr>
                        }

                    </tbody>
                </table>*@
        </div>
    </div>
</div>
</div>