@using kundt_back_end.Models
@model IEnumerable<kundt_back_end.Models.pKundenAnzeigen_Result>


@{
    ViewBag.Title = "Übersicht Kunden";
}
<style>
    .CenteredButton {
        display: block;
        margin: auto;
    }

    .SuchFilter_abstand {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0px;
    }

    tbody, tr /*, td,th, thead*/ {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    thead th {
        height: 30px;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
    }

        tbody td, thead th {
            width: auto;
            float: left;
        }
        .costomListOnKlick {
            border: none;
            margin: -10px;
            margin-bottom: 0px;
            padding-top: 0px;
            padding: 0px;
            border-bottom: 1px solid gray;
        }
</style>


<div class="container" style="border:2px solid black;">
    <div class="row">
        <div class="col-lg-3">
            <div class="row" style="margin:10px;padding:10px;height:400px;">
                <center><h3>Suchen</h3></center>
                <input type="text" placeholder="Name" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Kunden-Nr." class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Ort" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="PLZ" class="col-lg-12 SuchFilter_abstand" />
                <center><label class="SuchFilter_abstand">Offene Buchung</label></center>
                <center><input type="checkbox" class="SuchFilter_abstand" /></center>
                <input class="col-lg-6 col-lg-offset-3 SuchFilter_abstand" type="submit" value="Suchen" />
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row table-responsive" style="height: 500px;">
                <table class="table">
                    <thead>
                    <tr style="margin-right: 16px; margin-bottom: 10px; border-bottom: 1px solid black"> 
                        <th style="width: 15%;">Kunden-Nr.</th>
                        <th style="width: 20%;">Vorname</th>
                        <th style="width: 20%;">Nachname</th>
                        <th style="width: 20%;">PLZ</th>
                        <th style="width: 22%;">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width: 15%;"><a href="@Url.Action("KundenBearbeiten", "Home", new {ID = item.IDKunde})" class="costomListOnKlick list-group-item">@Html.DisplayFor(x => item.IDKunde)</a></td>
                            <td style="width: 20%;"><a href="@Url.Action("KundenBearbeiten", "Home", new {ID = item.IDKunde})" class="costomListOnKlick list-group-item">@Html.DisplayFor(x => item.Vorname)</a></td>
                            <td style="width: 20%;"><a href="@Url.Action("KundenBearbeiten", "Home", new {ID = item.IDKunde})" class="costomListOnKlick list-group-item">@Html.DisplayFor(x => item.Nachname)</a></td>
                            <td style="width: 20%;"><a href="@Url.Action("KundenBearbeiten", "Home", new {ID = item.IDKunde})" class="costomListOnKlick list-group-item">@Html.DisplayFor(x => item.PLZ)</a></td>
                            <td style="width: 22%;"><a href="@Url.Action("KundenBearbeiten", "Home", new {ID = item.IDKunde})" class="costomListOnKlick list-group-item">@Html.DisplayFor(x => item.Ort)</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
