@model kundt_back_end.Models.AutoModel
@{
    ViewBag.Title = "Übersicht Autos";
}

<script>

    function ResetFilter() {
        document.getElementById("myIDAuto").value = "";
        document.getElementById("FilterMarke").value = null;
        document.getElementById("FilterTyp").value = null;
        document.getElementById("FilterKategorie").value = null;
        document.getElementById("myBauJahrVon").value = "";
        document.getElementById("myBauJahrBis").value = "";
        document.getElementById("myKilometerStandVon").value = "";
        document.getElementById("myKilometerStandBis").value = "";
        document.getElementById("myAnzeigen").value = "";
    }
    function ShowTypFilter() {
        if (document.getElementById("FilterMarke").value == "Alle Marken/Typen" || document.getElementById("FilterMarke").value == "") {
            document.getElementById("FilterTyp").style.visibility = "hidden";
        }
        else {
            document.getElementById("FilterTyp").style.visibility = "visible";
        }
    }
</script>
<style>
    .DefaultFilter {
        font-weight: 700;
    }

    .AuswahlFilter {
        color: darkgray;
    }

    .FilterAnzeige {
        font-size: 15px;
    }

    .filterPos {
        left: 47px;
        padding-top: 50px;
    }

    .FilterAnzeigeRow {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: darkgray;
        color: darkgray;
        margin: 7px auto 14px auto;
        height: 20px;
    }

    .FilterBG {
        background-color: white;
        max-height: 27px;
    }

    .FilterOnMove {
        padding-left: 10px;
        padding-right: 10px;
    }

    .myImg {
        max-height: 100px;
    }

    .myTableBorder {
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-color: darkgray;
        max-height: 100px;
    }

    .myTableBorder2 {
        /*border-left: solid 1px;*/
        /*border-top: solid 1px;*/
        /*border-color: darkgray;*/
        margin-left: 35px;
    }

    .myTd {
        padding: 10px 10px 10px 10px;
    }

    .myInput {
        min-width: 200px;
        min-height: 35px;
        /*width: 200px;*/
        border-radius: 3px;
    }

    .myInput2 {
        min-width: 60px;
        max-width: 60px;
        min-height: 35px;
    }

    .myTitleMarkUp {
        border-radius: 5px;
        background-color: #f99b1c;
        height: 50px;
        width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .a:focus, a:hover {
        color: deepskyblue;
        text-decoration: none;
    }

    .myButton {
        min-width: 120px;
        max-height: 35px;
        text-align: center;
        vertical-align: middle;
        text-decoration-color: none;
        font-size: 15px;
        padding: 10px 10px 10px 10px;
        margin-right: 5px;
        outline: none;
        background-color: #f99b1c;
        border: none;
        color: white;
        letter-spacing: .5px;
        border-radius: 4px;
        font-weight:bold;
    }

        .myButton:hover {
            min-width: 120px;
            max-height: 35px;
            text-align: center;
            vertical-align: middle;
            text-decoration-color: none;
            font-size: 15px;
            padding: 10px 10px 10px 10px;
            margin-right: 5px;
            outline: none;
            background-color: #f99b1c;
            border: none;
            color: white;
            letter-spacing: .5px;
            border-radius: 4px;
            opacity: 0.7;
            font-weight: bold;
        }

        .myButton:visited, .myButton:active {
            min-width: 120px;
            max-height: 35px;
            text-align: center;
            vertical-align: middle;
            text-decoration-color: none;
            font-size: 15px;
            box-shadow: dimgrey 1px 1px 0px;
            padding: 10px 10px 10px 10px;
            margin-right: 5px;
            outline: none;
            background-color: #f99b1c;
            border: none;
            color: white;
            letter-spacing: .5px;
            border-radius: 4px;
            opacity: 0.8;
        }

    .myButtonFilter {
        min-width: 120px;
        max-height: 35px;
        text-align: center;
        vertical-align: middle;
        text-decoration-color: none;
        font-size: 15px;
        padding: 5px 10px 10px 10px;
        margin-right: 5px;
        outline: none;
        background-color: #f99b1c;
        border: none;
        color: white;
        letter-spacing: .5px;
        border-radius: 4px;
        font-weight: bold;
    }

        .myButtonFilter:hover {
            min-width: 120px;
            max-height: 35px;
            text-align: center;
            vertical-align: middle;
            text-decoration-color: none;
            font-size: 15px;
            padding: 5px 10px 10px 10px;
            margin-right: 5px;
            outline: none;
            background-color: #f99b1c;
            border: none;
            color: white;
            letter-spacing: .5px;
            border-radius: 4px;
            opacity: 0.7;
            font-weight: bold;
        }

        /*.myButtonFilter:visited, .myButtonFilter:active {
            min-width: 120px;
            max-height: 35px;
            text-align: center;
            vertical-align: middle;
            text-decoration-color: none;
            font-size: 15px;
            padding: 5px 10px 10px 10px;
            margin-right: 5px;
            outline: none;
            background-color: #f99b1c;
            border: none;
            color: white;
            letter-spacing: .5px;
            border-radius: 4px;
            opacity: 0.8;
        }*/

    .MyHead {
        margin: auto auto 20px auto;
        color: white;
        background-color: #f99b1c;
        vertical-align: middle;
        padding: 0px;
        border-radius: 4px;
        box-shadow: lightgray 1px 1px 0px;
    }

    .headingFormat {
        margin: auto auto 20px auto;
        color: white;
        background-color: #f99b1c;
        border-radius: 4px;
        box-shadow: lightgray 1px 1px 0px;
        text-align: center;
        height: 40px;
        font-size: 32px;
    }
</style>

<div class="headingFormat">
    <h2 style="padding:5px;">Auto Übersicht</h2>
</div>

<nav id="filterBar" class="FilterBG">
    <div class="FilterAnzeigeRow">

        <div class="FilterAnzeige" style="float:left">
            Ihre Filterkriterien:
        </div>
        <div class="col-xs-1" style="max-width:10px"></div>
        @foreach (var item in Model.filterList)
        {
            if (!string.IsNullOrEmpty(item) && item != "0")
            {
                <div class="FilterAnzeige" style="float:left; text-align:right">
                    | @item.ToString() |
                </div>
            }
        }
    </div>
</nav>
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-3">
                @*Beginn Filter zur Fahrzeugsuche*@
                <nav class="nav" style="max-width:250px;" id="filter">
                    <div class="table-hover">
                        <table class="table-condensed myTableBorder2" style="background-color:white; border-radius:4px; box-shadow:dimgrey 2px 2px 3px;">
                            <tr>
                                <td class="myTd">
                                    <header>ID-Suche:</header>
                                    @if (Model.myIDAuto != 0)
                                    {
                                        <input class="myInput" id="myIDAuto" type="text" name="myIDAuto" value="@Model.myIDAuto" placeholder="ID" min="0" />
                                    }
                                    else
                                    {
                                        <input class="myInput" id="myIDAuto" type="text" name="myIDAuto" value="" placeholder="ID" min="0" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="myTd">
                                    <header>Marke wählen:</header>
                                    <select id="FilterMarke" name="myMarke" class="myInput" onchange="ShowTypFilter()">
                                        @if (Model.myMarke != null)
                                        {
                                            <option class="myInput AuswahlFilter" value="@Model.myMarke">@Model.myMarke</option>
                                            <option class="myInput DefaultFilter" value="">Alle Marken/Typen</option>

                                            foreach (var item in Model.markeListe)
                                            {
                                                <option class="myInput" value="@item.Marke">@item.Marke</option>
                                            }
                                        }
                                        else
                                        {
                                            <option class="myInput DefaultFilter" value="">Alle Marken/Typen</option>
                                            foreach (var item in Model.markeListe)
                                            {
                                                <option class="myInput" value="@item.Marke">@item.Marke</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="myTd">
                                    <header>Typ wählen:</header>
                                    <select id="FilterTyp" style="visibility:hidden" name="myTyp" class="myInput">
                                        @if (Model.myTyp != null)
                                        {
                                            <option class="myInput AuswahlFilter" value="@Model.myTyp">@Model.myTyp</option>
                                            <option class="myInput DefaultFilter" value="">Alle Typen</option>
                                            foreach (var item in Model.typListe)
                                            {
                                                <option class="myInput" value="@item.Typ">@item.Typ</option>
                                            }
                                        }
                                        else
                                        {
                                            <option class="myInput DefaultFilter" value="">Alle Typen</option>
                                            foreach (var item in Model.typListe)
                                            {
                                                <option class="myInput" value="@item.Typ">@item.Typ</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="myTd">
                                    <header>Kategorie wählen:</header>
                                    <select id="FilterKategorie" name="myKategorie" class="myInput">
                                        @if (Model.myKategorie != null)
                                        {
                                            <option class="myInput AuswahlFilter" value="@Model.myKategorie">@Model.myKategorie</option>
                                            <option class="myInput DefaultFilter" value="">Alle Kategorien</option>
                                            foreach (var item in Model.kategorieListe)
                                            {
                                                <option class="myInput" value="@item.Kategorie">@item.Kategorie</option>
                                            }
                                        }
                                        else
                                        {
                                            <option class="myInput DefaultFilter" value="">Alle Kategorien</option>
                                            foreach (var item in Model.kategorieListe)
                                            {
                                                <option class="myInput" value="@item.Kategorie">@item.Kategorie</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="myTd">
                                    <header>Baujahr wählen:</header>
                                    Von:
                                    @if (Model.myBauJahrVon != 0)
                                    {
                                        <input class="myInput2" id="myBauJahrVon" type="number" name="" value="@Model.myBauJahrVon" min="1970" max="@Model.myTime" />
                                    }
                                    else
                                    {
                                        <input class="myInput2" id="myBauJahrVon" type="number" name="myBauJahrVon" min="1970" max="@Model.myTime" />
                                    }
                                    Bis:
                                    @if (Model.myBauJahrBis != 0)
                                    {
                                        <input class="myInput2" id="myBauJahrBis" type="number" name="myBauJahrBis" value="@Model.myBauJahrBis" min="1970" max="@Model.myTime" />
                                    }
                                    else
                                    {
                                        <input class="myInput2" id="myBauJahrBis" type="number" name="myBauJahrBis" value="" min="1970" max="@Model.myTime" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="myTd">
                                    <header>Kilometerstand wählen:</header>
                                    @if (Model.myKilometerStandVon != 0)
                                    {
                                        <input class="myInput" id="myKilometerStandVon" type="number" name="myKilometerStandVon" value="@Model.myKilometerStandVon" min="0" max="9999999" />
                                    }
                                    else
                                    {
                                        <input class="myInput" id="myKilometerStandVon" type="number" name="myKilometerStandVon" value="" placeholder="Von" min="0" max="9999999" />
                                    }
                                    @if (Model.myKilometerStandBis != 0)
                                    {
                                        <input class="myInput" id="myKilometerStandBis" type="number" name="myKilometerStandBis" value="@Model.myKilometerStandBis" min="0" max="9999999" />
                                    }
                                    else
                                    {
                                        <input class="myInput" id="myKilometerStandBis" type="number" name="myKilometerStandBis" value="" placeholder="Bis" min="0" max="9999999" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="myTd">
                                    <header>Sichtbarkeit wählen:</header>
                                    <select id="myAnzeigen" name="myAnzeigen" class="myInput">
                                        @if (Model.myAnzeigen != null)
                                        {
                                            if (Model.myAnzeigen == true)
                                            {
                                                <option class="myInput AuswahlFilter" value="true">Sichtbare Autos</option>
                                            }
                                            else
                                            {
                                                <option class="myInput AuswahlFilter" value="false">Versteckte Autos</option>
                                            }

                                        }
                                        <option class="myInput DefaultFilter" value="">Alle Autos</option>
                                        <option class="myInput" value="true">Sichtbare Autos</option>
                                        <option class="myInput" value="false">Versteckte Autos</option>
                                    </select>
                                </td>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        <center>
                                            <input type="submit" class="myButtonFilter" value="Suchen" style="border:solid 1px; border-radius:5px; width:150px; margin-left:-5px" />
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <center>
                                            <input type="submit" class="myButtonFilter" value="Zurücksetzen" style="border:solid 1px; border-radius:5px; width:150px; margin-left:-5px" onclick="ResetFilter()" />
                                            @*<input type="hidden" name="id" value="0" id="FilterId" />*@
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nav>
            </div>
            @*Ende Filter zur Fahrzeugsuche*@

            <div class="col-xs-8 col-xs-offset-1">
                <div class="table-responsive">
                    <table class="table-hover">
                        @*Start Auflistung der Fahrzeuge*@
                        @foreach (var item in Model.autoBearbeitenFilter)
                        {
                            <tr class="myTableBorder" style="margin-bottom:15px;">
                                <td class="myTd">
                                    @if (item.AutoBild != null)
                                    {
                                        var image = Convert.ToBase64String(item.AutoBild);
                                        @Html.Raw("<img src=\"data:image/png;base64," + image + "\" class=\"img-responsive myImg\" />");
                                    }
                                    else
                                    {
                                        <p>Kein Bild vorhanden</p>
                                    }
                                    <center>
                                        <p><h4>ID: @Html.DisplayFor(Model => item.IDAuto)</h4></p>
                                    </center>
                                </td>
                                @*
                                    <td class="myTd">
                                        <p><h4>ID</h4></p><p><h4>@Html.DisplayFor(Model => item.IDAuto)</h4></p>

                                    </td>*@
                                <td class="myTd">
                                    <p>Marke: @Html.DisplayFor(Model => item.Marke)</p>
                                    <p>Typ: @Html.DisplayFor(Model => item.Typ)</p>
                                    <p>Kategorie: @Html.DisplayFor(Model => item.Kategorie)</p>
                                </td>
                                <td class="myTd">
                                    <p>Baujahr: @Html.DisplayFor(Model => item.Baujahr)</p>
                                    <p>Kilometerstand: @Html.DisplayFor(Model => item.Kilometerstand)</p>
                                </td>
                                <td class="myTd">
                                    <p>Mietpreis: @Html.DisplayFor(Model => item.MietPreis)€</p>
                                    <p>Verkaufspreis: @Html.DisplayFor(Model => item.VerkaufPreis)€</p>
                                </td>
                                <td style="padding-left:15px;">
                                    <div>@Html.ActionLink("Bearbeiten", "AutoBearbeiten", new { id = item.IDAuto }, new { @class = "myButton", @style = "color: white; text-decoration: none;" })</div>
                                </td>
                            </tr>
                        }
                        @*Ende Auflistung der Fahrzeuge*@
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/FilterScript.js")
    @Scripts.Render("~/Scripts/filter.js")
}