@model kundt_back_end.Models.AutoModel
@{
    ViewBag.Title = "Autouebersicht 2.0";
}
<style>
    .myImg {
        max-height: 100px;
    }

    .myTableBorder {
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-color: darkgray;
        max-height: 100px;
    }
    .myTableBorder2 {
        border-left: solid 1px;
        border-top:solid 1px;
        border-color: darkgray;
        margin-left:35px;
    }

    .myTd {
        padding: 10px 10px 10px 10px;
    }

    .myInput {
        min-width: 200px;
        min-height: 35px;
    }

    .myTitleMarkUp {
        border-radius: 5px;
        background-color: darkorange;
        height: 50px;
        width: 100%;
        padding-right:5%;
        padding-left:5%;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;

    }
</style>
<div class="row">
    <div class="col-xs-12 myTitleMarkUp" style="padding-top:10px;">Auto-Übersicht</div>
    <div class="col-xs-3">
        <div class="table-responsive">
            <table class="table-condensed myTableBorder2">

                <tr>
                    <td class="myTd"><header>Suche:</header><input type="text" name="name" value="" placeholder="Suche" class="myInput" /></td>
                </tr>

                <tr>
                    <td class="myTd">
                        <header>Marke wählen:</header>
                        <select id="FilterMarke" name="Marke" class="myInput">
                            @foreach (var item in Model.markeListe)
                            {
                                <option class="myInput">@item.Marke</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="myTd">
                        <header>Typ wählen:</header><select id="FilterTyp" name="Typ" class="myInput">
                            @foreach (var item in Model.typListe)
                            {
                                <option class="myInput">@item.Typ</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="myTd">
                        <header>Kategorie wählen:</header><select id="FilterKategorie" name="Kategorie" class="myInput">
                            @foreach (var item in Model.kategorieListe)
                            {
                                <option class="myInput">@item.Kategorie</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="myTd"><header>Status wählen:</header><input type="text" name="name" value="" class="myInput" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-8 col-xs-offset-1">
        <div class="table-responsive">


            <table class="table-hover">

                @foreach (var item in Model.autoListe)
                {

                    <tr class="myTableBorder" style="margin-bottom:15px;">
                        <td class="myTd">
                            @if (item.AutoBild != null)
                            {

                            }
                            else
                            {
                                <img class="img-responsive myImg" src="~/Content/img/alfa-romeo-giulia-silber-2016.png" />
                            }
                        </td>
                        <td class="myTd">
                            <p>Marke: @item.tblTyp.tblMarke.Marke</p>
                            <p>Typ: @item.tblTyp.Typ</p>
                        </td>
                        <td class="myTd">
                            <p>Baujahr: @item.Baujahr</p>
                            <p>PS: @item.PS</p>
                        </td>
                        <td class="myTd">
                            <p>Mietpreis: @Html.DisplayFor(Model => item.MietPreis)€</p>
                            <p>Verkaufspreis: @Html.DisplayFor(Model => item.VerkaufPreis)€</p>
                        </td>

                        <td style="padding-left:15px">
                            @*<form method="post" action="@Url.Action("AutoBearbeiten","tblAuto", new {id = Model.myIDAuto })">*@
                            <form method="post" action="@Url.Action("AutoBearbeiten","tblAuto", new {id = item.IDAuto })">
                                
                                <input type="submit" class="btn btn-default" value="Bearbeiten" style="border:solid 1px; border-color:darkgrey; border-radius:5px;"/>
                            </form>
                        </td>
                    </tr>

                }
            </table>


        </div>



    </div>
</div>
