@model kundt_back_end.Models.AutoModel
@{
    ViewBag.Title = "Auto Hinzufügen";
}
<style>
    .table1 {
        font-family: arial, sans-serif;
    }

    /*.hinzuAuto {
        min-width: 200px;
        max-width: 200px;
    }*/

    .autoHinzu_tr {
        background-color: white;
        min-width: 200px;
        max-width: 200px;
        padding-bottom: 10px;
    }

    .picBorder {
        border: solid 1px;
        border-color: lightgray;
        
    }

    .labelCheckbox {
        margin-left: 20px;
        font-style: unset;
    }

    .buttonOrangeNextStep {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="container">
        <div class="col-xs-12 text-center" style="margin:auto auto 20px auto; color:white; background-color:#f99b1c; vertical-align:middle; padding:0px; border-radius:4px; box-shadow:lightgray 1px 1px 0px;">
            <h4>Fahrzeug hinzufügen</h4>
        </div>
        <div class="col-xs-6" style="margin:auto; display:inline-block; padding:0px">
            <img src="~/Content/img/alfa-romeo-giulia-silber-2016.png" alt="Alternate Text" style="max-height:200px" class="picBorder" />
            <p><a href="#">Bild hinzufügen/ändern</a></p>
            <div class="col-xs-12" style="margin:20px 0px 0px -12px">

                <p>Ausstattungsoptionen:</p>
                @foreach (var item in Model.ausstattungListe)
                {
                    {
                        if (item != null)
                        {
                            <div class="checkbox col-xs-5" style="margin: 10px 5px 0px 5px;">
                                <label class="labelCheckbox"><input type="checkbox" name="ausstattungListe" value="@item.IDAusstattung">@Html.DisplayFor(m => item.Ausstattung)</label>
                            </div>
                        }
                    }
                }

            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1 table-responsive text-right" style="max-width:400px">
            <table class="table table-hover">
                <tr class="autoHinzu_tr">
                    <td>Marke:</td>
                    <td>
                        <select name="myMarke" id="myMarke" class="hinzuAuto form-control">
                            <optgroup label="Kategorie wählen">
                                @foreach (var item in Model.markeListe)
                                {
                                    <option name="myMarke" value="@item.Marke">@Html.DisplayFor(m => item.Marke)</option>
                                }
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Typ:</td>
                    <td>
                        <select name="myTyp" id="myTyp" class="autoHinzu form-control">
                            <optgroup label="Typ wählen">
                                @foreach (var item in Model.typListe)
                                {
                                    <option name="myTyp" value="@item.Typ">@Html.DisplayFor(m => item.Typ)</option>
                                }
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Kategorie:</td>
                    <td>

                        <select name="myKategorie" id="myKategorie" class="hinzuAuto form-control">
                            <optgroup label="Kategorie wählen">
                                @foreach (var item in Model.kategorieListe)
                                {
                                    <option name="myKategorie" value="@item.Kategorie">@Html.DisplayFor(m => item.Kategorie)</option>
                                }
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>PS:</td>
                    <td>
                        @Html.EditorFor(model => model.myPS, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Getriebe:</td>
                    <td>
                        <select name="myGetriebe" id="myGetriebe" class="hinzuAuto form-control">
                            <optgroup label="Getriebe wählen">
                                <option name="myGetriebe" value="Manuell">Manuell</option>
                                <option name="myGetriebe" value="Automatik">Automatik</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Baujahr:</td>
                    <td>
                        @Html.EditorFor(model => model.myBauJahr, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Türen:</td>
                    <td>
                        @Html.EditorFor(model => model.myTueren, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Sitze:</td>
                    <td>
                        @Html.EditorFor(model => model.mySitze, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>KM-Stand:</td>
                    <td>
                        @Html.EditorFor(model => model.myKilometerStand, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Treibstoff:</td>
                    <td>
                        <select name="myTreibstoff" id="myTreibstoff" class="hinzuAuto form-control">
                            <optgroup label="Treibstoff wählen">
                                @foreach (var item in Model.treibstoffListe)
                                {
                                    <option name="myTreibstoff" value="@item.Treibstoff">@Html.DisplayFor(m => item.Treibstoff)</option>
                                }
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr hinzuAuto">
                    <td>Mietpreis:</td>
                    <td>
                        @Html.EditorFor(model => model.myMietPreis, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            </table>
        </div>
                
        <div class="col-xs-12 text-center">
            @*<form action="@Url.Action("AutoHinzu","tblAuto",Model)" method="post">
                    <button class="buttonOrangeNextStep">Aktualisieren</button>
                </form>*@
            <input type="submit" value="Hinzufügen" class="btn buttonOrangeNextStep" />
        </div>
    </div>
}
@*<div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 2</label>
        </div>

        <div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 3</label>
        </div>

    </div>
    <div class="col-xs-2">
        <div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 1</label>
        </div>

        <div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 2</label>
        </div>

        <div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 3</label>
        </div>

    </div>
    <div class="col-xs-2">
        <div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 1</label>
        </div>

        <div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 2</label>
        </div>

        <div class="checkbox">
            <label class="labelCheckbox"><input type="checkbox" value="">Option 3</label>
        </div>*@



@*</form>*@
