@model kundt_back_end.Models.AutoModel
@{
    ViewBag.Title = "Auto bearbeiten";
}
<style>
    .myImg {
        max-height: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .table1 {
        font-family: arial, sans-serif;
    }

    /*.hinzuAuto {
        min-width: 200px;
        max-width: 200px;
    }*/

    .autoHinzu_tr {
        background-color: white;
        min-width: 200px;
        max-width: 200px;
        padding-bottom: 10px;
    }

    .picBorder {
        border: solid 1px;
        border-color: lightgray;
    }

    .labelCheckbox {
        margin-left: 20px;
        font-style: unset;
    }

    .buttonOrangeNextStep {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }
</style>

@*@using (Html.BeginForm())
    {*@
<form action="@Url.Action("AutoBearbeiten","tblAuto", null)" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="col-xs-12 text-center" style="margin:auto auto 20px auto; color:white; background-color:#f99b1c; vertical-align:middle; padding:0px; border-radius:4px; box-shadow:lightgray 1px 1px 0px;">
            <h4>Fahrzeug bearbeiten</h4>
        </div>
        <div class="col-xs-6" style="margin:auto; display:inline-block; padding:0px">
            @if (Model.autoBearbeiten[0].AutoBild != null)
            {
                var image = Convert.ToBase64String(Model.autoBearbeiten[0].AutoBild);
                @Html.Raw("<img src=\"data:image/png;base64," + image + "\" class=\"img-responsive myImg\" />");
            }
            else
            {
                <p>Kein Bild vorhanden</p>
            }
            <p><input type="file" id="upload" name="upload" accept="image/*" /></p>
            <div class="col-xs-12" style="margin:20px 0px 0px -12px">
                <p>Ausstattungsoptionen:</p>
                @foreach (var item in Model.ausstattungListe)
                {
                    <div class="checkbox col-xs-5" style="margin: 10px 5px 0px 5px;">
                        <label class="labelCheckbox"><input type="checkbox" checked name="ausstattungListe" value="@item.IDAusstattung">@Html.DisplayFor(model => item.Ausstattung)</label>
                    </div>
                }
                @foreach (var item in Model.plainAusstattungListe)
                {
                    <div class="checkbox col-xs-5" style="margin: 10px 5px 0px 5px;">
                        <label class="labelCheckbox"><input type="checkbox" name="plainAusstattungListe" value="@item.IDAusstattung">@Html.DisplayFor(model => item.Ausstattung)</label>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1 table-responsive text-right" style="max-width:400px">
            <table class="table table-hover">
                <tr class="autoHinzu_tr">
                    <td>Marke:</td>
                    <td>
                        <select name="myMarke" id="Marke" class="hinzuAuto form-control">
                            <optgroup label="Kategorie wählen">
                                <option name="myMarke" value="@Model.autoBearbeiten[0].Marke">@Html.DisplayFor(model => model.autoBearbeiten[0].Marke)</option>
                                @foreach (var item in Model.markeListe)
                                {
                                    if (item.Marke != Model.autoBearbeiten[0].Marke)
                                    {
                                        <option name="myMarke" value="@Model.autoBearbeiten[0].Marke">@Html.DisplayFor(model => item.Marke)</option>
                                    }
                                }
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Typ:</td>
                    <td>
                        <select name="myTyp" id="Typ" class="autoHinzu form-control">
                            <optgroup label="Typ wählen">
                                <option name="myTyp" value="@Model.autoBearbeiten[0].Typ">@Html.DisplayFor(m => m.autoBearbeiten[0].Typ)</option>
                                @foreach (var item in Model.typListe)
                                {
                                    if (item.Typ != Model.autoBearbeiten[0].Typ)
                                    {
                                        <option name="myTyp" value="@Model.autoBearbeiten[0].Typ">@Html.DisplayFor(m => item.Typ)</option>
                                    }
                                }
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Kategorie:</td>
                    <td>

                        <select name="myKategorie" id="Kategorie" class="hinzuAuto form-control">
                            <optgroup label="Kategorie wählen">
                                <option name="myKategorie" value="@Model.autoBearbeiten[0].Kategorie">@Html.DisplayFor(m => Model.autoBearbeiten[0].Kategorie)</option>
                                @foreach (var item in Model.kategorieListe)
                                {
                                    if (item.Kategorie != Model.autoBearbeiten[0].Kategorie)
                                    {
                                        <option name="myKategorie" value="@Model.autoBearbeiten[0].Kategorie">@Html.DisplayFor(m => item)</option>
                                    }
                                }
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>PS:</td>
                    <td>
                        @Html.EditorFor(model => model.autoBearbeiten[0].PS, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Getriebe:</td>
                    <td>
                        <select name="myGetriebe" id="myGetriebe" class="hinzuAuto form-control">
                            <optgroup label="Getriebe wählen">
                                <option name="myGetriebe" value="Manuell">Manuell</option>
                                <option name="myGetriebe" value="Automatik">Automatik</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Baujahr:</td>
                    <td>
                        @Html.EditorFor(model => model.autoBearbeiten[0].Baujahr, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Türen:</td>
                    <td>
                        @Html.EditorFor(model => model.autoBearbeiten[0].Tueren, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Sitze:</td>
                    <td>
                        @Html.EditorFor(model => model.autoBearbeiten[0].Sitze, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>KM-Stand:</td>
                    <td>
                        @Html.EditorFor(model => model.autoBearbeiten[0].Kilometerstand, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Treibstoff:</td>
                    <td>
                        <select name="myTreibstoff" id="Treibstoff" class="hinzuAuto form-control">
                            <optgroup label="Treibstoff wählen">
                                <option name="myTreibstoff" value="@Model.autoBearbeiten[0].Treibstoff">@Html.DisplayFor(m => m.autoBearbeiten[0].Treibstoff)</option>
                                @foreach (var item in Model.treibstoffListe)
                                {
                                    if (item.Treibstoff != Model.autoBearbeiten[0].Treibstoff)
                                    {
                                        <option name="myTreibstoff" value="@Model.autoBearbeiten[0].Treibstoff">@Html.DisplayFor(m => item.Treibstoff)</option>
                                    }
                                }
                            </optgroup>
                        </select>

                    </td>
                </tr>
                <tr class="autoHinzu_tr">
                    <td>Auto sichtbar für Kunden:</td>
                    <td>
                        @Html.CheckBoxFor(model => model.autoBearbeiten[0].Anzeigen, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr hinzuAuto">
                    <td>Mietpreis:</td>
                    <td>
                        @Html.EditorFor(model => model.autoBearbeiten[0].MietPreis, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr class="autoHinzu_tr hinzuAuto">
                    <td>Verkaufspreis:</td>
                    <td>
                        @Html.EditorFor(model => model.autoBearbeiten[0].VerkaufPreis, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <input type="hidden" name="myIDAuto" value="@Model.autoBearbeiten[0].IDAuto" />
            <button type="submit" class="buttonOrangeNextStep">Aktualisieren</button>

        </div>
    </div>
</form>