@model kundt_back_end.Models.tblEyecatcher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblEyecatcher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GUIDBild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUIDBild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eyecatcher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eyecatcher)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEyecatcher }) |
    @Html.ActionLink("Back to List", "Index")
</p>
