@model List<kundt_back_end.Models.OffeneBuchungenTodayPlus13>

<div class="row table-responsive" style="margin:10px;padding:10px;height:400px;">
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr style="margin-right:16px;">
                    <th style="width:15%;">@Html.DisplayNameFor(model => model.)</th>
                    <th style="width:15%;">KundenNr.</th>
                    <th style="width:15%;">Vorname</th>
                    <th style="width:15%;">Nachname</th>
                    <th style="width:20%;">Ort</th>
                    <th style="width:10%;">PLZ</th>
                    <th style="width:10%;">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td style="width:15%;"><a href="@Url.Action("Edit","Buchung",new { ID = item.IDBuchung })">@Html.DisplayFor(x => item.IDBuchung)</a></td>
                        <td style="width:15%;"><a href="@Url.Action("Edit","Buchung",new { ID = item.IDBuchung })">@Html.DisplayFor(x => item.IDKunde)</a></td>
                        <td style="width:15%;"><a href="@Url.Action("Edit","Buchung",new { ID = item.IDBuchung })">@Html.DisplayFor(x => item.tblKunde.Vorname)</a></td>
                        <td style="width:15%;"><a href="@Url.Action("Edit","Buchung",new { ID = item.IDBuchung })">@Html.DisplayFor(x => item.tblKunde.Nachname)</a></td>
                        <td style="width:20%;"><a href="@Url.Action("Edit","Buchung",new { ID = item.IDBuchung })">@Html.DisplayFor(x => item.tblKunde.tblPLZOrt.Ort)</a></td>
                        <td style="width:10%;"><a href="@Url.Action("Edit","Buchung",new { ID = item.IDBuchung })">@Html.DisplayFor(x => item.tblKunde.tblPLZOrt.PLZ)</a></td>
                        <td style="width:10%;"><a href="@Url.Action("Edit","Buchung",new { ID = item.IDBuchung })">@Html.DisplayFor(x => item.BuchungStatus)</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <center><h3>Es gibt noch keine Buchungseintraege</h3></center>
    }

</div>

