@model kundt_back_end.Models.tblBuchung

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblBuchung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuchungAm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuchungAm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuchungVon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuchungVon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuchungBis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuchungBis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Versicherung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Versicherung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuchungStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuchungStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Storno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAuto.PS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAuto.PS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblKunde.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblKunde.Vorname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
